$papaya: #E24E42;
$aqua: #008F95;
$blush: #EB6E80;
$mustard: #E9B000;
$grey: #737373;
$white: #ffffff;

body {
  background:$white;
}

h1 {
  color:$blush;
  text-align:center;
  margin:50px 0 0;
  font-size:70px;
  font-weight:800;
}

p {
  color:$grey;
  text-align:center;
  margin: 10px 0 0 0;
  padding: 20px;
  font-size: 30px;
}

.mainbutton {
  text-align:center;
   button {
    background: $aqua;
    border-radius: 0;
    padding: 20px;
    font-size: 20px;
    color: white;
    border: none;
    font-weight: 800;
    letter-spacing: .05em;
   }
}
